
body {
    overflow-x: hidden;
}

#webpage{
    height: 100%;
    width: 100%;
    margin-left: 0;
    transition: 0.5s;
}

#webpage[data-ismenueshown="true"]{
    margin-left: 250px;
}


#bars {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

#sideMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
#sideMenu[data-visibility = "true"]{
    width: 250px;
}

#sideMenu a {
    display: block;
    padding: 20px 30px;
    font-size: 24px;
    color: lightgray;
    text-decoration: none;
    white-space: nowrap; 
}

.projectLink {
    transform: scale(0%);
}

.projectLink[data-visibility="true"]{
    transform: scale(100%);
}

#sideMenu a:hover {
    color: white;
    transition: 0.2s;
}

#sideMenu #close { 
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 30px;
}

#homeSite{
    transform: scale(0%);
    height: 0;
}
#homeSite[data-visibility="true"]{
    transform: scale(100%);
    height: auto;
}

#aboutmeSite{
    transform: scale(0%);
}

#aboutmeSite[data-visibility="true"]{
    transform: scale(100%);
}
