:root{
    --bg-color: #263373;
}

html,body{
    background-color: var(--bg-color);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bubbleWrapper{
    width: 100%;
    background-color: var(--bg-color);
    position: absolute;
    top: 0;
}

#pixiCanvas{
    position: absolute;
    top: 0;
}

.bgBubble{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #5a9ab7;
    border: 5px solid #065c88;
    position: absolute;
    bottom: 0px;
}

@keyframes moveUp{
    100%{
        bottom: 100%;
    }
}
